<footer>
    <section>
        <h2>Manga4Ever</h2>
        <p>Notre passion à 100%</p>
    </section>
    <aside>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
              <div class="card border border-dark">
                <div class="card-body">
                  <h5 class="card-title">Découvrir Manga4Ever</h5>
                  <p class="card-text">A propos<br>Facebook<br>Instagram<br>Nous rejoindre</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border border-dark">
                <div class="card-body">
                  <h5 class="card-title">Mentions legales</h5>
                  <p class="card-text">Mentions legales<br>Confidentialité</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border border-dark">
                <div class="card-body">
                  <h5 class="card-title">Aides</h5>
                  <p class="card-text">Nous contacter<br>FAQ</p>
                </div>
              </div>
            </div>
          </div>
    </aside>
</footer>