<h2>Liste des categories</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Nom</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categorie of categories">
            <td class="text-center">{{categorie.nom_categorie}}</td>
            <td class="text-center">
                <button (click) = "updateCategories(categorie.id)" class="btn btn-info button">Modifier</button>
            </td>
        </tr>
    </tbody>
</table>