<section class="sectionA">
    <h2>Notre boutique Manga4Ever</h2>
    <div class="bodyA">
        <figure>
            <!-- <img src="assets/DAI_projet_img/website/manga_img1.jpg" alt="manga"> -->
            <img src="https://drive.google.com/uc?export=view&id=1s8f5ZuAbmHsKZ4H_4nJND9GOmNh5Zr7S" alt="manga">
        </figure>
        <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laborum 
                commodi, repellendus adipisci quia vel nemo quisquam voluptatum porro nulla 
                provident officiis reprehenderit voluptate qui libero iure reiciendis tempore 
                mollitia. Quae laborum amet eius, adipisci perspiciatis facere ad temporibus, 
                voluptatibus sequi tenetur magni, laudantium libero enim! Aperiam minus iure 
                commodi.
            </p>
        </aside>
    </div>
</section>